Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 meson,
 cmake,
 libglib2.0-dev,
 pkg-config,
 libyaml-dev,
 rpm,
 librpm-dev,
 libzstd-dev,
 libmagic-dev,
 gtk-doc-tools,
 libglib2.0-doc,
 python2,
 python-setuptools,
 python3,
 python3-setuptools,
 clang-tidy,
 clang-format,
 python-pycodestyle,
 python3-pycodestyle,
 pycodestyle,
 black,
 valgrind,
 gobject-introspection,
 python-gobject-2-dev,
 python-gobject,
 python3-gi,
 libgirepository1.0-dev
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@
Architecture: all
Depends: ${misc:Depends}, libglib2.0-0, libyaml-0-2, rpm, librpm8, libzstd1, libmagic1, python-gobject, python3-gi 
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: @NAME@-dev
Architecture: all
Depends: ${misc:Depends}, @NAME@
Description: @SUMMARY@, development headers
 @DESCRIPTION@ 

Package: python-@NAME@
Architecture: all
Depends: ${misc:Depends}, @NAME@, python
Description: @SUMMARY@, Python 2 bindings
 @DESCRIPTION@ 

Package: python3-@NAME@
Architecture: all
Depends: ${misc:Depends}, @NAME@, python3 
Description: @SUMMARY@, Python 3 bindings
 @DESCRIPTION@ 

Package: @NAME@-doc
Architecture: all
Depends: ${misc:Depends},
Description: @SUMMARY@, documentation
 @DESCRIPTION@ 
