Source: @NAME@
Section: misc
Priority: extra
#X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 dh-python,
 python-all-dev,
 python-setuptools,
 python-flake8,
 python-six,
 python-jsonschema,
 python-flask,
 python-clickclick,
 python-yaml,
 python-requests,
 python-pathlib,
 python-typing,
 python-testfixtures,
 python-decorator,
 python-swagger-spec-validator,
 python-inflection,
 python-pytest-cov,
 python3-all-dev,
 python3-setuptools,
 python3-flake8,
 python3-six,
 python3-jsonschema,
 python3-flask,
 python3-clickclick,
 python3-yaml,
 python3-requests,
 python3-swagger-spec-validator,
 python3-inflection,
 python3-testfixtures,
 python3-pytest-cov,
 python3-decorator,
 tox
Standards-Version: 3.8.4
Homepage: @URL@

#Package: @NAME@
#Architecture: all
#Depends: ${misc:Depends}, ${python:Depends}, python-jsonschema, python-flask, python-clickclick, python-yaml, python-requests, python-six, python-pathlib, python-typing, python-swagger-spec-validator, python-inflection
#Description: @SUMMARY@ 
# @DESCRIPTION@ 

Package: python3-connexion
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-jsonschema, python3-flask, python3-clickclick, python3-yaml, python3-requests, python3-six, python3-swagger-spec-validator, python3-inflection
