Source: @NAME@
Section: misc
Priority: extra
Maintainer: Kakwa <carpentier.pf@gmail.com>
Build-Depends:
 debhelper (>= 7.0.50~),
 rsync,
 qlibc-dev,
 libevent-dev,
 libssl-dev,
 make,
 gcc
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@
Architecture: amd64 i386 
Depends: ${misc:Depends}
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: @NAME@-dev
Architecture: amd64 i386
Depends: ${misc:Depends}, qlibc, libevent-2.0-5, libssl1.0.0
Description: @SUMMARY@, dev headers
 @DESCRIPTION@, dev headers
