Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3
Build-Depends:
 debhelper (>= 7.0.50~),
 dh-python,
 python-pytest-runner,
 python-all-dev,
 python-pytest,
 python-six,
 python-setuptools,
 python3-all-dev,
 python3-yaml,   
 python3-pytest,
 python3-setuptools,
 python3-pytest-runner
Standards-Version: 3.8.4
Homepage: @URL@ 

Package: python3-@NAME@
Architecture: all
Depends: ${misc:Depends}, python3, python3-pyparsing, python3-six
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: python-@NAME@
Architecture: all
Depends: ${misc:Depends}, python, python-pyparsing, python-six
Description: @SUMMARY@ 
 @DESCRIPTION@ 
