[Unit]
Description=Gogs service
After=network.target
Wants=network.service

[Service]
Type=simple
#PIDFile=/var/run/uts-server/uts-server.pid
User=uts-server
Group=uts-server

EnvironmentFile=/etc/sysconfig/uts-server
Environment=GOGS_CUSTOM=/usr/share/uts-server/
ExecStart=/usr/bin/uts-server web $OPTIONS
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
