[Unit]
Description=uts-server service
After=network.target
Wants=network.service

[Service]
Type=forking
PIDFile=/var/run/uts-server/uts-server.pid
User=root
Group=root

EnvironmentFile=/etc/sysconfig/uts-server
ExecStart=/usr/bin/uts-server -p /var/run/uts-server/uts-server.pid -d $OPTIONS
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
