Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 cmake,
 libbz2-dev,
 libcurl4-openssl-dev,
 libglib2.0-dev,
 libmagic-dev,
 libxml2-dev,
 liblzma-dev,
 libssl-dev,
 librpm-dev,
 libdrpm-dev,
 libexpat1-dev,
 libzstd-dev,
 libzck-dev,
 libmodulemd-dev,
 libmodulemd,
 python3-nose,
 python-dev,
 libyaml-dev,
 python3-dev,
 python-nose
Standards-Version: 3.8.4
Homepage: @URL@ 

Package: @NAME@
Architecture: all
Depends: ${misc:Depends}, libbz2-1.0, libcurl4, libglib2.0, libmagic1, libxml2, liblzma5, libssl1.1, librpm8, libdrpm, libexpat1, libzck, libzstd1, libmodulemd, libyaml-0-2
Description: @SUMMARY@ 
 @DESCRIPTION@ 
