Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 dh-python,
 python3-all-dev,
 python3-setuptools,
 python3-pytest,
 python3-redis,
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: python3-pygraph-redis
Architecture: all
Depends: ${misc:Depends}, python3-redis
Description: @SUMMARY@
 @DESCRIPTION@

