Source: python-inflection
Section: python
Priority: optional
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@> 
Uploaders: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-pytest,
               python-setuptools,
               python3-all,
               python3-pytest,
               python3-setuptools
Standards-Version: 4.0.0
Homepage: https://pypi.python.org/pypi/inflection

Package: python-inflection
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Port of Ruby on Rails' inflector (Python 2)
 Inflection is a string transformation library. It singularizes and
 pluralizes English words, and transforms strings from CamelCase
 to underscored string.
 .
 This package contains the module for Python 2.

Package: python3-inflection
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Port of Ruby on Rails' inflector (Python 3)
 Inflection is a string transformation library. It singularizes and
 pluralizes English words, and transforms strings from CamelCase
 to underscored string.
 .
 This package contains the module for Python 3.
