Source: @NAME@
Section: misc
Priority: extra
Maintainer: Kakwa <carpentier.pf@gmail.com>
Build-Depends:
 debhelper (>= 7.0.50~),
 rsync,
 dh-systemd,
 cmake,
 libssl-dev,
 libcivetweb,
 libcivetweb-dev
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@
Architecture: amd64 i386 powerpc armhf
Depends: ${misc:Depends}, libcivetweb
Description: @SUMMARY@ 
 @DESCRIPTION@ 
