[Unit]
Description=LdapCherry Web UI
After=network.target
Wants=network.service

[Service]
Type=forking
PIDFile=/var/run/dnscherry/dnscherry.pid
User=dnscherry
Group=dnscherry

EnvironmentFile=/etc/sysconfig/dnscherry
ExecStart=/usr/bin/dnscherryd $OPTIONS -p /var/run/dnscherry/dnscherry.pid
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
