[Unit]
Description=Container hypervisor based on LXC

[Service]
EnvironmentFile=/etc/default/lxd
ExecStart=/usr/bin/lxd --group lxd ${LXD_OPTIONS}
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
