#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEST=$$(pwd)/debian/@NAME@
DEST=$$(pwd)/debian/tmp

EGO_PN=github.com/lxc/lxd

%:
	dh $@ 

override_dh_auto_clean:
	rm -rf dist/bin

override_dh_auto_build:
	mkdir -p ./tmpgobuild
	unset GOROOT && \
	unset GOPATH && \
	export TMPDIR=`pwd`/tmpgobuild && \
	export GOPATH=`pwd`/dist/ && \
	go install -v -x $(EGO_PN)/lxc && \
	go install -v -x $(EGO_PN)/lxd && \
	go install -v -x $(EGO_PN)/fuidshift && \
	rm -rf ./tmpgobuild

override_dh_auto_install:
	mkdir -p  $(DEST)/usr/bin/
	install -m 755 dist/bin/lxd $(DEST)/usr/bin/
	install -m 755 dist/bin/lxc $(DEST)/usr/bin/
	install -m 755 dist/bin/fuidshift $(DEST)/usr/bin/

override_dh_installinit:
	dh_installinit --init-script=lxd


override_dh_auto_test:
