[Unit]
Description=pixiecore service
After=network.target
Wants=network.service

[Service]
Type=simple
#PIDFile=/var/run/pixiecore/pixiecore.pid
User=pixiecore
Group=pixiecore

EnvironmentFile=/etc/sysconfig/pixiecore
ExecStart=/usr/bin/pixiecore $API $API_TIMEOUT $INITRD $KERNEL $KERNEL_CMDLINE $OTHER
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
