#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEST=$$(pwd)/debian/@NAME@

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_build:
	mkdir ./tmpgobuild
	unset GOROOT && \
	export TMPDIR=`pwd`/tmpgobuild && \
	export GOPATH=`pwd`/externals/ && \
	go build -o pixiecore

override_dh_auto_install:
	mkdir -p  $(DEST)/usr/bin/
	install -m 755 pixiecore $(DEST)/usr/bin/pixiecore
	mkdir -p  $(DEST)/var/lib/pixiecore/tcl/
#	mkdir -p  $(DEST)/var/log/pixiecore/
#	mkdir -p  $(DEST)/usr/share/pixiecore/
#	cp -r templates $(DEST)/usr/share/pixiecore/
#	cp -r public $(DEST)/usr/share/pixiecore/
#	cp pixiecore.ini $(DEST)/etc/pixiecore/
