[Unit]
Description=Gogs service
After=network.target
Wants=network.service

[Service]
Type=simple
#PIDFile=/var/run/drone/drone.pid
User=drone
Group=drone

EnvironmentFile=/etc/sysconfig/drone
ExecStart=/usr/bin/drone web $OPTIONS
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
