Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 cmake,
 libbz2-dev,
 libxml2-dev,
 liblzma-dev,
 libssl-dev,
 pkg-config,
 librpm-dev,
 rpm,
 libzstd-dev,
 libcmocka-dev
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: lib@NAME@
Architecture: all
Depends: ${misc:Depends}, libbz2, libxml2, liblzma5, libssl1.1, librpm8, pkg-config, rpm, libzstd
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: lib@NAME@-dev
Architecture: all
Depends: ${misc:Depends}, lib@NAME@
Description: @SUMMARY@, development headers
 @DESCRIPTION@ 
