Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 dh-python,
 python-all-dev,
 python-setuptools,
 python3-all-dev,
 python3-setuptools,
 python-websocket,
 python3-websocket,
 python-requests,
 python3-requests
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3

Package: @NAME@
Architecture: all
Depends: ${misc:Depends}, python-websocket, python-requests
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: python3-slackclient
Architecture: all
Depends: ${misc:Depends}, python3-websocket, python3-requests
Description: @SUMMARY@ 
 @DESCRIPTION@ 
