Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 cmake,
 gcc,
 g++,
 libpng-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 rsync
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@-conv
Architecture: amd64 i386
Depends: ${misc:Depends}, @NAME@
Description: @SUMMARY@, command line converter
 @DESCRIPTION@ 

Package: @NAME@
Architecture: amd64 i386
Depends: ${misc:Depends}, libpng16-16, libfontconfig1, libfreetype6
Description: @SUMMARY@, headers
 @DESCRIPTION@, headers

Package: @NAME@-dev
Architecture: amd64 i386
Depends: ${misc:Depends}, @NAME@
Description: @SUMMARY@, headers
 @DESCRIPTION@, headers


