Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 python-setuptools,
 rsync
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@
Architecture: all
Depends: ${misc:Depends}, python-ldap, python-yaml, python-mako, python-yaml, python-cherrypy3
Description: @SUMMARY@ 
 @DESCRIPTION@ 
