Source: @NAME@
Section: misc
Priority: extra
Maintainer: Kakwa <carpentier.pf@gmail.com>
Build-Depends:
 debhelper (>= 7.0.50~),
 python-setuptools,
 rsync
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pyasn1, python-pyasn1-modules, python-m2crypto, python-dateutil
Description: @SUMMARY@ 
 @DESCRIPTION@ 
