#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# Build flags (excluded: tidb bindata)
TAGS := sqlite pam

LDFLAGS = -X 'main.Tags=$(TAGS)' -extldflags=-Wl,-z,relro,-z,now

export LDFLAGS TAGS

DEST=$$(pwd)/debian/@NAME@

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_build:
	mkdir -p ./tmpgobuild
	unset GOROOT && \
	export TMPDIR=`pwd`/tmpgobuild && \
	export GOPATH=`pwd`/externals/ && \
	go build  -p 4\
	  -buildmode=pie \
	  -ldflags="$(LDFLAGS)" \
	  -tags="$(TAGS)" \
	  -o gitea
	rm -rf ./tmpgobuild

override_dh_auto_install:
	mkdir -p  $(DEST)/usr/bin/
	install -m 755 gitea $(DEST)/usr/bin/
	mkdir -p  $(DEST)/etc/gitea/
	mkdir -p  $(DEST)/var/lib/gitea/
	mkdir -p  $(DEST)/var/lib/gitea/repositories
	mkdir -p  $(DEST)/var/lib/gitea/data
	mkdir -p  $(DEST)/var/log/gitea/
	mkdir -p  $(DEST)/usr/share/gitea/
	mkdir -p  $(DEST)/usr/share/gitea/conf/
	install -m 644 gitea.ini $(DEST)/usr/share/gitea/conf/gitea.ini.base
	cp -r templates $(DEST)/usr/share/gitea/
	cp -r public $(DEST)/usr/share/gitea/
	cp -r options $(DEST)/usr/share/gitea/

override_dh_auto_test:
	true

override_dh_installinit:
	dh_installinit --no-start 

override_dh_clean:
	dh_clean
	rm -f gitea
	rm -rf ./tmpgobuild
