Source: @NAME@
Section: misc
Priority: extra
Maintainer: @MAINTAINER@ <@MAINTAINER_EMAIL@>
Build-Depends:
 debhelper (>= 7.0.50~),
 cmake,
 pkg-config,
 check,
 libexpat1-dev,
 libglib2.0-dev,
 libgpgme11-dev,
 libattr1-dev,
 libcurl4-openssl-dev,
 libssl-dev,
 libpython3-dev,
 libxml2-dev,
 libzck-dev,
 libzstd-dev,
 python3-gpg,
 python3-nose,
 python-nose,
 python3-pyxattr
Standards-Version: 3.8.4
Homepage: @URL@ 
X-Python-Version: >= 2.5

Package: @NAME@
Architecture: all
Depends: ${misc:Depends}, libglib2.0-0, libexpat1, libgpgme11, libattr1, libcurl4, libssl1.1, libxml2, libzck, libzstd1
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: @NAME@-dev
Architecture: all
Depends: ${misc:Depends}, @NAME@
Description: @SUMMARY@ 
 @DESCRIPTION@ 

Package: python-@NAME@
Architecture: all
Depends: ${misc:Depends}, @NAME@, python
Description: @SUMMARY@, Python 2 bindings
 @DESCRIPTION@

