#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEST=$$(pwd)/debian/@NAME@

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_build:
	mkdir ./tmpgobuild
	mkdir ./tmpbin/
	export PATH="`pwd`/tmpbin:$$PATH" && \
	unset GOROOT && \
	export TMPDIR=`pwd`/tmpgobuild && \
	export GOPATH=`pwd`/externals/ && \
	cd ./externals/src/github.com/jteeuwen/go-bindata/go-bindata/ && \
	go build && \
	cd - && \
	cp ./externals/src/github.com/jteeuwen/go-bindata/go-bindata/go-bindata ./tmpbin/ && \
	cd ./externals/src/github.com/elazarl/go-bindata-assetfs/go-bindata-assetfs/ && \
	go build && \
	cd - && \
	cp ./externals/src/github.com/elazarl/go-bindata-assetfs/go-bindata-assetfs/go-bindata-assetfs ./tmpbin/ && \
	cd ./externals/src/github.com/eknkc/amber/amberc && \
	go build && \
	cd - && \
	cp ./externals/src/github.com/eknkc/amber/amberc/amberc ./tmpbin/ && \
	make gen && \
	go build -o drone

override_dh_auto_install:
	mkdir -p  $(DEST)/usr/bin/
	install -m 755 drone $(DEST)/usr/bin/
	mkdir -p  $(DEST)/etc/drone/
	mkdir -p  $(DEST)/var/lib/drone/
	#mkdir -p  $(DEST)/var/log/drone/
	#mkdir -p  $(DEST)/usr/share/drone/
	#cp -r templates $(DEST)/usr/share/drone/
	#cp -r public $(DEST)/usr/share/drone/
	cp drone.env $(DEST)/etc/drone/

override_dh_auto_test:
	true
